{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue!</h1>
<p>Sur cette bibliothèque en ligne, tu pourra consulter une liste d'ouvrages afin de te 
    renseigner sur celui qui t'intéresse, d'en lire le résumé et te faire une idée à propos du livre.</p>
<p> </p>


{% endblock %}